.subject-card {
  cursor: default !important;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: solid 6px #fff;
  overflow: hidden;
  background: #039a51;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.subject-card:hover {
  transform: none !important;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.subject-card .down-content {
  text-align: center;
}

.subject-card .down-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.subject-card .down-content p {
  font-size: 14px;
  color: #fff;
}
