.custom-modal {
  padding-right: 0px!important;
}
.custom-modal .modal-content {
  background: url("/images/service-item-bg.png") no-repeat center center;
  background-size: cover; 
  color: white;
  padding: 20px;
  box-sizing: border-box!important;
}
.login-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.login-link:hover {
  color: #039a51!important;
}

@media (max-width: 576px) {
  .custom-modal .modal-content {
    padding: 15px;
  }
}