section.our-subjects {
  background-image: url(../images/meetings-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 130px;
}

.subjects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.our-subjects .item {
  height: 100%;
  display: flex;
  justify-content: center;
}

.our-subjects .item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Cards */
.our-subjects .item .down-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: 90px;
}

.our-subjects .item .down-content h4 {
  padding: 15px 10px;
  font-size: 18px;
  color: #1f272b;
  text-align: center;
}

.our-subjects .slick-slide {
  padding: 0 1rem;
}

@media (max-width: 992px) {
  section.our-subjects {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .our-subjects .slick-slide {
    padding: 0 0.5rem;
  }

  .section-heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .subjects-container {
    padding: 0 0.5rem;
  }

  .our-subjects .item {
    padding: 0 0.25rem;
  }

  .our-subjects .item img {
    max-width: 95%;
  }

  .our-subjects .slick-dots {
    bottom: -25px;
  }
}
