.student-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.student-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 8px;
}

.student-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.student-info h5 {
  margin: 0;
  font-size: 1.1rem;
  color: #222;
}

.student-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.group-letter {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  color: #555;
}

.student-group {
  margin-bottom: 1rem;
}

.student-item {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.student-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.delete-user button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b03a2e;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
   
}