.filters {
  text-align: center;
  margin-bottom: 30px;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #2a2a2a;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.filters ul li:hover {
  background-color: #0056b3;
  color: #fff;
}

.filters ul li.active {
  background-color:#0056b3;
  color: #fff;
}


.pagination ul li a {
    margin-right: 8px; 
     display: flex;           /* cambia inline-block a flex */
    justify-content: center; 
    align-items: center;   
    padding: 8px 12px;
   
    color: #fff !important;      
    background-color: #0056b3 !important; 
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pagination ul li a:hover,
.pagination ul li.active a {
  background-color: #004494 !important; 
  color: #fff !important;
}
.meeting-item {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.meeting-item:hover {
  transform: translateY(-5px); 
}

.courses-bg {
  background-image: url(../images/meetings-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}